#singleplatform h3 {
  color: blue!important;
}

#singleplatform {
  font-family: 'Poppins'!important;
  background-color:red!important;
}

#singleplatform .menus {
  background-color:red!important;
}

h2 {
  color: red!important;
}

#singleplatform .menus .menu .section>.title {
  color: red!important;
}
