
@font-face {
  font-family: 'Satoshi-Variable';
  src: url('https://Natalie-Hueman.github.io/my-css-host/Satoshi-Variable.woff2') format('woff2'),
       url('https://Natalie-Hueman.github.io/my-css-host/Satoshi-Variable.woff') format('woff'),
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Boska-Medium';
  src: url('https://Natalie-Hueman.github.io/my-css-host/Boska-Medium.woff2') format('woff2'),
       url('https://Natalie-Hueman.github.io/my-css-host/Boska-Medium.woff') format('woff'),
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Boska-MediumItalic';
  src: url('https://Natalie-Hueman.github.io/my-css-host/Boska-MediumItalic.woff2') format('woff2'),
       url('https://Natalie-Hueman.github.io/my-css-host/Boska-MediumItalic.woff') format('woff'),
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

#singleplatform h3 {
  color: blue!important;
  font-size:2rem!important;
}

#singleplatform,  #singleplatform .menus .menu .section {
  font-family: 'Satoshi-Variable'!important;
  letter-spacing: 0.5px!important;
}

#singleplatform .menus {
  background-color:transparent!important;
}

h2 {
  color: red!important;
}

#singleplatform .menus .menu .section>.title {
  color: red!important;
  font-family: 'Boska-Medium'!important;
}
