@font-face {
  font-family: 'Zodiak';
  src: url('https://Natalie-Hueman.github.io/my-css-host/Zodiak-Regular.woff') format('woff2'),
       url('https://Natalie-Hueman.github.io/my-css-host/Zodiak-Regular.woff2') format('woff'),
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('https://Natalie-Hueman.github.io/my-css-host/Zodiak-Regular.woff') format('woff2'),
       url('https://Natalie-Hueman.github.io/my-css-host/Zodiak-Regular.woff2') format('woff'),
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

#singleplatform h3 {
  color: #002030!important;
  font-size: 2rem!important;
}

#singleplatform,  #singleplatform .menus .menu .section, #singleplatform .menus .menu .section .items .item .description {
  font-family: 'Roboto Light'!important;
  font-weight: 300 !important;
  letter-spacing: 0px !important;
  font-size: 1.1rem !important;
}

#singleplatform .menus {
  background-color:transparent!important;
  border: 0px solid!important;
}

#singleplatform .menus .menu .section>.title {
  background-color:transparent !important;
  border-bottom: 1px solid #DDDDDD !important;
  font-family: 'Zodiak'!important;
  text-transform: none !important;
}

h2.menu-title {
  font-family: 'Zodiak' !important;
  font-size: 1.5rem !important;
}

h4.item-title {
  font-family: 'Zodiak' !important;
   font-size: 1.35rem !important;
}

#singleplatform .menus .header .nav-row .dropdown {
  background-color: #F9F7F1 !important;
  border-left: 1px solid #DDDDDD !important;
  border-right: 1px solid #DDDDDD !important;
  border-bottom 1px solid #DDDDDD !important;
  border-top: 1px solid #DDDDDD !important;
  margin-top: 20px !important;
}

@media (max-width: 767px) {
#singleplatform .menus .header .nav-row .dropdown {
width: 80% !important;
}
}

.menu-name {
  transition: 0.5s ease !important;
}

.menu-name.clickable:hover {
  background-color: #EAEAEA !important;
}

#singleplatform .leaders li, #singleplatform li { 
  background: #F9F7F1!important;
  background-color: #F9F7F1 !important;
  display: inline-block !important; /* optional: helps if "inline" is breaking layout */
}
